
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <img class="navbar-brand logo" alt="STARWAY MONSTER" src="assets/img/logo.png"/>

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" href="#">Dashboard</a>
      <a class="nav-item nav-link" href="#">Un-escrow token</a>
      <a class="nav-item nav-link" href="#">Channels</a>
    </div>
    <button mat-flat-button color="primary" class="mr-2" (click)="onExecuteSingle()">Execute</button>
    <button mat-flat-button color="primary" class="mr-2" (click)="onConnectWallet()">Connect Wallet</button>
  </div>
</nav>
