<nav class="navbar navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <h2>STARWAY MONSTER</h2>
    <button mat-flat-button color="primary" class="search-btn col-12 col-md-2 pb-18" (click)="onInterchainPath()">Interchain Path</button>
    <button mat-flat-button color="primary" class="search-btn col-12 col-md-2 pb-18" (click)="onUnescrowToken()">Un-escrow token</button>
    <button mat-flat-button color="primary" class="search-btn col-12 col-md-2 pb-18" (click)="onChannels()">Channels</button>
    <button mat-flat-button color="primary" class="search-btn col-12 col-md-2 pb-18" (click)="onConnectWallet()">Connect Wallet</button>
  </div>
</nav>
