.navbar {
  background-color: #1a1e34;
  padding: 0;
  -webkit-box-shadow: 0px 1px 14px 0px rgba(#ab47bc, .5);
  box-shadow: 0px 1px 14px 0px rgba(#ab47bc, .5);

  .logo {
    height: 60px;
    padding: 0;
    margin-left: 8px;
  }
}
