$item-size: 80px;
$item-margin: 8px;

:host {
  display: block;
}

.graph {
  width: 100%;
  padding-top: 24px;

  &__row {
    display: flex;

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  .empty-row {
    height: 100px;
    display: flex;
    justify-content: flex-end;

    &.reverse {
      justify-content: flex-start;

      .item-vertical-arrow {
        flex-direction: row-reverse;
        margin-left: $item-size / 2  + $item-margin;
        margin-right: 0;
      }
    }

    .item-vertical-arrow {
      display: flex;
      margin-right: $item-size / 2  + $item-margin;
      margin-left: 0;

      .vertical-arrow {
        width: 2px;
        background-color: white;
        position: relative;
        margin-bottom: 20px;

        &::after{
          content: '';
          position: absolute;
          right: -4px;
          bottom: -4px;
          border-top: 10px solid white;
          border-left:  5px solid transparent;
          border-right: 5px solid transparent;
          clear: both;
        }
      }
    }
  }

  .item-content {
    opacity: 1;
    mix-blend-mode: lighten;
    position: relative;

    &__circle {
      margin: $item-margin;
      width: $item-size;
      height: $item-size;
      border-radius: 50%;
      border: 2px solid white;
      opacity: 0.3;
      mix-blend-mode: lighten;

      &:hover {
        opacity: 0.8;
      }
    }

    &__text {
      color: white;
      position: absolute;
      top: -15px;
      left: 0px;
      white-space: nowrap;
    }

    &:hover {
      opacity: 1;
    }
  }

  .item-horizontal-arrow {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .horizontal-arrow {
      height: 2px;
      background-color: white;
      position: relative;
      margin-top: 10px;
      width: 100%;
    }

    &:not(.reverse) {
      .horizontal-arrow::after{
        content: '';
        position: absolute;
        right: -3px;
        top: -4px;
        border-left:  10px solid white;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        clear: both;
      }
    }

    &.reverse {
      .horizontal-arrow::before{
        content: '';
        position: absolute;
        left: -3px;
        top: -4px;
        border-right:  10px solid white;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        clear: both;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}

.execute-btn {
  margin: 15px;
  height: 36px;
}
