$arrow-cell-size: 50px;

.graph {
  width: 100%;
  margin-left: -$arrow-cell-size / 2;

  &__row {
    display: flex;

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &__item {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

    &__row {
      display: table-row;
    }

    &__cell {
      display: table-cell;
    }

    .item-content {
      width: 80px;
      height: 50px;
      padding: 8px;
      margin-bottom: 8px;
      opacity: 1;
      mix-blend-mode: lighten;
      position: relative;

      &__circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid white;
      }

      &__text {
        color: white;
        position: absolute;
        top: -15px;
        left: 0px;
        white-space: nowrap;
      }

      &:hover {
        opacity: 1;
      }
    }

    .item-right-arrow {
      vertical-align: middle;
      text-align: center;

      .line {
        height: 2px;
        background-color: white;
        position: relative;
        margin-top: 10px;

        &::after{
          content: '';
          position: absolute;
          right: -3px;
          top: -4px;
          width: 0;
          height: 0;
          border-left:  10px solid white;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          clear: both;
        }
      }

      .execute-btn {
        padding: 10px;
        background-color: #424242;
        margin-top: 15px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .item-bottom-arrow {
      height: 100px;
      vertical-align: middle;
      text-align: center;

      .line {
        width: 2px;
        background-color: white;
        position: relative;
        height: 65px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        &::after{
          content: '';
          position: absolute;
          right: -4px;
          bottom: -4px;
          width: 0;
          height: 0;
          border-top: 10px solid white;
          border-left:  5px solid transparent;
          border-right: 5px solid transparent;
          clear: both;
        }
      }

      .execute-btn {
        padding: 10px;
        background-color: #424242;
        margin-top: 15px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
