<div #graphContainer class="graph">
  <ng-container *ngFor="let graphItemGroup of graphItemGroups; index as indexRow">
    <div class="graph__row" [class.reverse]="graphItemGroup.isReverseRow">
      <ng-container *ngFor="let item of graphItemGroup.items; index as itemIndex">
        <div class="item-horizontal-arrow" *ngIf="itemIndex > 0" [class.reverse]="graphItemGroup.isReverseRow">
          <div class="horizontal-arrow"></div>
          <button color="primary" class="execute-btn" mat-flat-button>Execute</button>
        </div>
        <div class="item-content">
          <span class="item-content__text">{{item.value}}</span>
          <div class="item-content__circle" [style.background-color]="colors(item.value)"></div>
        </div>
      </ng-container>
    </div>
    <div class="empty-row" [class.reverse]="graphItemGroup.isReverseRow" *ngIf="indexRow < graphItemGroups.length - 1">
      <div class="item-vertical-arrow">
        <button color="primary" class="execute-btn" mat-flat-button>Execute</button>
        <div class="vertical-arrow"></div>
      </div>
    </div>
  </ng-container>
</div>
