<div class="graph">
  <ng-container *ngFor="let graphItemGroup of graphItemGroups">
    <div class="graph__row" [class.reverse]="graphItemGroup.isReverseRow">
      <ng-container *ngFor="let item of graphItemGroup.items">
        <div class="graph__item" [class.hidden]="item.value === undefined">
          <div class="graph__item__row">
            <div class="graph__item__cell item-right-arrow"
              [class.hidden]="item.horizontalArrowHidden">
              <div class="line"></div>
              <div class="execute-btn">Execute</div>
            </div>
            <div class="graph__item__cell item-content">
              <span class="item-content__text">{{item.value}}</span>
              <div class="item-content__circle" [style.background-color]="getColor(item.value)"></div>
            </div>
          </div>
          <div class="graph__item__row">
            <div class="graph__item__cell"></div>
            <div class="graph__item__cell item-bottom-arrow"
              [class.hidden]="!item.isLastInRow || graphItemGroup.isLastRow">
              <div class="line"></div>
              <!-- <div class="execute-btn">Execute</div> -->
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
