mat-form-field {
  width: 100%;
}

.option-item {
  display: flex;
  align-items: center;

  &__circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &__name {
    margin-left: 8px;
    margin-right: 12px;
    color: white;
  }
}
