mat-form-field {
  width: 100%;
}

.option-item {
  display: flex;
  align-items: center;

  &__circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    mix-blend-mode: lighten;
    opacity: 0.3;

    :hover & {
      opacity: 0.8;
    }
  }

  &__name {
    margin-left: 8px;
    margin-right: 12px;
    color: white;
  }
}

mat-form-field {
  font-size: 12px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-subscript-wrapper {
  display: none;
}
