@import 'theme';

:host {
  mat-button-toggle-group {
    border-radius: 4px;
    border: 1px solid $primary;

    mat-button-toggle {
      &.mat-button-toggle-checked {
        background-color: $primary;
      }
    }
  }
}

.zone-path-title {
  display: flex;
  flex-wrap: wrap;

  &__selector {
    margin-right: 24px;
  }

  .path-detail-info {
    margin-right: 24px;
  }
}

