@import '~@angular/material/theming';

$primary-color: map-get($mat-pink, 800);

.zone-path-title {
  display: flex;
  flex-wrap: wrap;

  &__selector {
    margin-right: 24px;
  }

  .path-detail-info {
    margin-right: 24px;
  }
}

::ng-deep mat-button-toggle {
  border: 1px solid $primary-color;

  &.mat-button-toggle-checked {
    background-color: $primary-color;
  }
}
