@import 'theme';

.zone-path-title {
  display: flex;
  flex-wrap: wrap;

  &__selector {
    margin-right: 24px;
  }

  .path-detail-info {
    margin-right: 24px;
  }
}

::ng-deep mat-button-toggle {
  border: 1px solid $primary;

  &.mat-button-toggle-checked {
    background-color: $primary;
  }
}
