/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
}

button {
  outline: 0 !important;
}

.main-panel {
  position: relative;
  float: right;
  width: 100%;
  min-height: 100vh;
  border-top: 2px solid #e14eca;
  background: linear-gradient(#1e1e2f, #1e1e24);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

  .content {
    padding: 78px 30px 30px 30px;
    min-height: calc(100vh - 70px);
  }
}
