<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Search</h3>
          <div class="card-body">
            <mat-form-field class="col-6" appearance="fill">
              <mat-label>From</mat-label>
              <mat-select>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-6" appearance="fill">
              <mat-label>To</mat-label>
              <mat-select>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Graph</h3>
          <div class="card-body">

            <div class="graph">
              <ng-container *ngFor="let zonesPathGroup of zonesPath | chunk:3; index as pathIndex">
                <div class="graph__row" [class.reverse]="pathIndex % 2 === 1">
                  <ng-container *ngFor="let item of zonesPathGroup; index as itemIndex">
                    <div class="item" [class.hidden]="item === undefined">
                      <div class="item__row">
                        <div class="item__cell item-right-arrow"
                          [class.hidden]="pathIndex % 2 === 0 && itemIndex === 0
                            || pathIndex % 2 === 1 && itemIndex === zonesPathGroup.length-1">
                          {{pathIndex % 2 === 0 ? '>' : '<' }}
                        </div>
                        <div class="item__cell item_content">{{item}}</div>
                      </div>
                      <div class="item__row">
                        <div class="item__cell"></div>
                        <div class="item__cell item-bottom-arrow"
                          [class.hidden]="itemIndex !== zonesPathGroup.length-1"
                        >V</div>
                      </div>
                    </div>
                    <!-- <div class="horizontal-arrow" *ngIf="itemIndex > 0">
                      {{pathIndex % 2 === 0 ? '>' : '<' }}
                    </div>
                    <div  class="graph__item">
                      <ng-container *ngIf="item !== undefined">
                        <div class="graph__item_content">{{item}}</div>
                        <div class="graph__item_arrow">V</div>
                      </ng-container>
                    </div> -->
                  </ng-container>
                </div>
              </ng-container>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

