<div class="content">
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title col-sm-6 text-left">Search</h3>
        </div>
        <div class="card-body">
            <div class="form-inline">
              <mat-form-field class="col-12 col-md-3" appearance="fill">
                <mat-label>From Zone</mat-label>
                <mat-select>
                  <mat-option *ngFor="let zone of zonesPath" [value]="zone"
                    [style.color]="colors(zone)">{{zone}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-12 col-md-3" appearance="fill">
                <mat-label>To Zone</mat-label>
                <mat-select>
                  <mat-option *ngFor="let zone of zonesPath" [value]="zone"
                    [style.color]="colors(zone)">{{zone}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-12 col-md-4" appearance="fill">
                <mat-label>Exclude Zone</mat-label>
                <mat-select multiple>
                  <mat-option *ngFor="let zone of zonesPath" [value]="zone"
                    [style.color]="colors(zone)">{{zone}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-flat-button class="search-btn col-12 col-md-2 pb-18">Search</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-5">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Dependencies Graph</h3>
          <div class="card-body">
            <sm-dependency-wheel-chart
              [data]="zoneDependencies"
              [names]="zonesPath"
              [colors]="colors">
            </sm-dependency-wheel-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Path Graph</h3>
          <div class="card-body">
            <sm-horizontal-snake-graph
              [data]="zonesPath"
              [colors]="colors">
            </sm-horizontal-snake-graph>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

